/*
-
-   flex box
-
*/

/*
-
-   flex containers
-
*/
.f-full-height {
    height : 100%;
}

.f-con {
    display     : flex;
    min-height  : 0;
}

.f-con-column {
    flex-direction  : column;
    height          : 100%;
}

.f-con-wrap {
    flex-wrap : wrap;
}

.f-con-center {
    justify-content : center;
    align-items     : center;
}

/*
-
-   flex items
-
*/
.f-item {
    flex : 0 0 auto;
}

.f-item-grow {
    flex-grow : 1;
}

.f-item-scrollable {
    flex        : 1 1 auto;
    position    : relative;
    overflow    : auto;

    -webkit-overflow-scrolling : touch;
}